<form (ngSubmit)="onSubmit()" action="">
    <div class="form-group">
        <input placeholder="INSERT YOUR TODOS HERE..." [(ngModel)]="title" name="title" id="title"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none mb-2 focus:shadow-outline border-double border-2 border-blue-500 text-blue-500" >
    
        <button type="submit" class="rounded-lg px-4 py-2 border-2 border-blue-500 text-blue-500 hover:bg-blue-600 hover:text-blue-100 duration-300">insert</button>
    </div>
    
</form>