      <div class="bg-white p-6 rounded-lg shadow-lg mb-2 mt-2 border-2 border-blue-500">
        <p (click)="removeTodoOnClick(todo)" class="float-right border-0 hover:border-2 cursor-pointer">❌</p>
        <h2 class="text-gray-700 text-purple-400">Todo</h2>
        <p class="text-2xl font-medium mb-2 text-gray-800">{{todo.todo}}</p>
        <br>
        <div *ngIf="todo.isCompleted === false">
          <button (click)="onClick(todo)" class="rounded-lg px-4 py-2 border-2 border-blue-5 00 text-blue-500 hover:bg-blue-600 hover:text-blue-100 duration-300">Done</button>
        </div>
        
      </div>
